<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;uses_mana&#x2F;story_spell&#x2F;touch - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>touch <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/uses_mana.html">uses_mana</a>/<a href="datum/component/uses_mana/story_spell.html">story_spell</a>/<a href="datum/component/uses_mana/story_spell/touch.html">touch</a></aside>
        
    
            <a href="https://github.com/MrMelbert/MapleStationCode/blob/b45c2cf318de551d2386a1d215e16ca1861dfc52/maplestation_modules/code/modules/magic/story_spells/components/touch_component.dm#L9">
        <img src="git.png" width="16" height="16" title="maplestation_modules&#x2F;code&#x2F;modules&#x2F;magic&#x2F;story_spells&#x2F;components&#x2F;touch_component.dm 9"/></a></h1>

<p>A preset component for touch spells that use mana</p>
<p>These spells require mana to activate (channel into your hand)
but does not expend mana until you actually touch someone with it.</p></main>
<footer>
    maplestation.dme
    <a href="https://github.com/MrMelbert/MapleStationCode/tree/b45c2cf318de551d2386a1d215e16ca1861dfc52">b45c2cf</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
