<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;uses_mana&#x2F;touch_spell - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>touch_spell <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/uses_mana.html">uses_mana</a>/<a href="datum/component/uses_mana/touch_spell.html">touch_spell</a></aside>
        
    
            <a href="https://github.com/MrMelbert/MapleStationCode/blob/62953beb66520a482a622c3b16f4f6a47ddfc122/maplestation_modules/code/modules/magic/story_spells/components/touch_component.dm#L10">
        <img src="git.png" width="16" height="16" title="maplestation_modules&#x2F;code&#x2F;modules&#x2F;magic&#x2F;story_spells&#x2F;components&#x2F;touch_component.dm 10"/></a></h1>

<p>A preset component for touch spells that use mana</p>
<p>These spells require mana to activate (channel into your hand)
but does not expend mana until you actually touch someone with it.
Addendum: under normal situations cooldown spells like this would get the /spell subtype
touch spells are inherently snowflakey, so it gets a snowflakey component.</p></main>
<footer>
    maplestation.dme
    <a href="https://github.com/MrMelbert/MapleStationCode/tree/62953beb66520a482a622c3b16f4f6a47ddfc122">62953be</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
