@use 'sass:color';
@use 'sass:meta';

@use '../colors.scss' with (
  $primary: #ff0000,
  $fg-map-keys: (),
  $bg-map-keys: ()
);
@use '../base.scss' with (
  $color-bg: #000000,
  $color-bg-grad-spread: 6%
);

.theme-deepred {
  // Atomic classes
  @include meta.load-css('../atomic/color.scss');

  // Components
  @include meta.load-css(
    '../components/Button.scss',
    $with: (
      'color-default': colors.$primary,
      'color-disabled': #000000,
      'color-selected': #ff0000,
      'color-caution': #ff0000,
      'color-danger': #ff0000
    )
  );
  @include meta.load-css(
    '../components/Input.scss',
    $with: ('border-color': #ff0000)
  );
  @include meta.load-css(
    '../components/NoticeBox.scss',
    $with: ('background-color': #000000)
  );
  @include meta.load-css(
    '../components/NumberInput.scss',
    $with: ('border-color': #ff0000)
  );
  @include meta.load-css(
    '../components/ProgressBar.scss',
    $with: ('background-color': rgba(0, 0, 0, 0.5))
  );
  @include meta.load-css('../components/Section.scss');
  @include meta.load-css(
    '../components/Tooltip.scss',
    $with: ('background-color': #000000)
  );

  // Layouts
  @include meta.load-css('../layouts/Layout.scss');
  @include meta.load-css('../layouts/Window.scss');
  @include meta.load-css(
    '../layouts/TitleBar.scss',
    $with: ('background-color': #ff0000)
  );

  .Layout__content {
    background-image: none;
  }
}
